.navbar{
  display: flex;
  height: 80px;
  background-color: #24252a;
}


.inNav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo{
  height: 100%;
  display: block;
  margin-left: 50px;
}



.link{
  color: white;
  width: 20%;
  display: flex;
  justify-content: space-between;
}

a{
  color: white;
  text-decoration: none;
  font-weight: bolder;
}


.btn{
  height: 30px;
  border: none;
  background-color: cyan;
  padding: 0px 30px;
  border-radius: 15px;
  text-align: center;
  color: white;
  font-weight: bolder;
 margin-right: 50px;
}